<% if(typeof errormessages !== "undefined" && errormessages && errormessages.length > 0){%>
    <div class="bg-red-100/80 backdrop-blur-sm rounded-xl md:p-6 p-2 border-2 border-red-200 shadow-lg">
        <div class="flex items-start">
           
            <div class="flex-1">
                <h3 class="md:text-xl text:base font-bold text-red-800 mb-3">Please address the following:</h3>
                <ul class="space-y-3"></ul>
                    <% errormessages.forEach(err=>{ %>
                        <li class="flex items-center text-red-700">
                            <span class="inline-block w-2 h-2 bg-red-500 rounded-full mr-3"></span>
                            <span class="md:text-base text-xs"><%= err%></span>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
<%}%>
